In [1]:
titanic <- read.table('train.csv', sep=",", header = T)

In [2]:
rownames(titanic) <- titanic$PassengerId
titanic$PassengerId <- NULL
titanic$Name <- NULL

In [3]:
str(titanic)

'data.frame':	891 obs. of  10 variables:
 $ Survived: int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass  : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Sex     : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age     : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp   : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch   : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket  : Factor w/ 681 levels "110152","110413",..: 524 597 670 50 473 276 86 396 345 133 ...
 $ Fare    : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin   : Factor w/ 148 levels "","A10","A14",..: 1 83 1 57 1 1 131 1 1 1 ...
 $ Embarked: Factor w/ 4 levels "","C","Q","S": 4 2 4 4 4 3 4 4 4 2 ...

In [4]:
titanic$Pclass <- factor(titanic$Pclass)
titanic$SibSp <- factor(titanic$SibSp)
titanic$Parch <- factor(titanic$Parch)
titanic$Embarked <- factor(titanic$Embarked)

In [5]:
sum(titanic$Cabin == "")
titanic$Has_Cabin <- factor(titanic$Cabin != "")
titanic$Cabin <- NULL

[1] 687

In [6]:
titanic$Ticket <- NULL

In [7]:
library(caret)

Loading required package: lattice
Loading required package: ggplot2

In [8]:
set.seed(10)

In [11]:
train_index <- createDataPartition(titanic$Survived,p=0.8,list=FALSE)
training_data <- titanic[train_index,]
validation_data <- titanic[-train_index,]
head(training_data)

  Survived Pclass Sex    Age SibSp Parch Fare    Embarked Has_Cabin
1 0        3      male   22  1     0      7.2500 S        FALSE
2 1        1      female 38  1     0     71.2833 C        TRUE
6 0        3      male   NA  0     0      8.4583 Q        FALSE
7 0        1      male   54  0     0     51.8625 S        TRUE
8 0        3      male    2  3     1     21.0750 S        FALSE
9 1        3      female 27  0     2     11.1333 S        FALSE

In [12]:
prop.table(table(training_data$Survived))
prop.table(table(validation_data$Survived))

        0         1
0.6227209 0.3772791

        0         1
0.5898876 0.4101124

In [13]:
colSums(is.na(training_data))
colSums(is.na(validation_data))
mean_age <- mean(training_data$Age, na.rm = T)
training_data$Age[is.na(training_data$Age)] <- mean_age
validation_data$Age[is.na(validation_data$Age)] <- mean_age
colSums(is.na(training_data))
colSums(is.na(validation_data))

 Survived    Pclass       Sex       Age     SibSp     Parch      Fare  Embarked
        0         0         0       151         0         0         0         0
Has_Cabin
        0

 Survived    Pclass       Sex       Age     SibSp     Parch      Fare  Embarked
        0         0         0        26         0         0         0         0
Has_Cabin
        0

 Survived    Pclass       Sex       Age     SibSp     Parch      Fare  Embarked
        0         0         0         0         0         0         0         0
Has_Cabin
        0

 Survived    Pclass       Sex       Age     SibSp     Parch      Fare  Embarked
        0         0         0         0         0         0         0         0
Has_Cabin
        0

In [14]:
str(training_data)

'data.frame':	713 obs. of  9 variables:
 $ Survived : int  0 1 0 0 0 1 1 1 1 0 ...
 $ Pclass   : Factor w/ 3 levels "1","2","3": 3 1 3 1 3 3 2 3 1 3 ...
 $ Sex      : Factor w/ 2 levels "female","male": 2 1 2 2 2 1 1 1 1 2 ...
 $ Age      : num  22 38 30 54 2 ...
 $ SibSp    : Factor w/ 7 levels "0","1","2","3",..: 2 2 1 1 4 1 2 2 1 1 ...
 $ Parch    : Factor w/ 7 levels "0","1","2","3",..: 1 1 1 1 2 3 1 2 1 1 ...
 $ Fare     : num  7.25 71.28 8.46 51.86 21.07 ...
 $ Embarked : Factor w/ 4 levels "","C","Q","S": 4 2 3 4 4 4 2 4 4 4 ...
 $ Has_Cabin: Factor w/ 2 levels "FALSE","TRUE": 1 2 1 2 1 1 1 2 2 1 ...

In [15]:
attach(training_data)

In [18]:
table(Pclass)
prop.table(table(Pclass, Survived), 1)

Pclass
  1   2   3
177 138 398

      Survived
Pclass         0         1
     1 0.3841808 0.6158192
     2 0.5144928 0.4855072
     3 0.7663317 0.2336683

In [ ]:
table(Sex)
prop.table(table(Sex, Survived), 1)

In [ ]:
table(SibSp)
prop.table(table(SibSp, Survived), 1)

In [ ]:
table(Parch)
prop.table(table(Parch, Survived), 1)

In [ ]:
table(Embarked)
prop.table(table(Embarked, Survived), 1)